<div class="form-inline clearfix">
	<div class="nested-fields">
		<%= f.input :step, input_html: { class: "form-input form-control" } %>
		
		<div class="field">
			<%= f.label :image %>
			<%= f.file_field :image, type: 'file', id: "uformFileDisabled", class: 'form-control' %>
		</div>
		<%= link_to_remove_association "Delete", f, class: "form-button btn btn-danger btn-sm" %>
	</div>
</div>