
@import "bootstrap";

body{
	padding: 20px;
}

.directions img{
	width: 200px;
	/*float: right*/
}
.direction-image{
	/*float:right;*/
}

.image_wrapper img{
	/*max-width: 200px;*/
}


/*//////////////////*/

$red: #DB5161;

body {;
  background: rgb(235, 238, 243);
}

.main_content {
  padding: 0 0 50px 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  @include box-shadow;
  background: #fff;
  font-weight: bold;
}

.navbar {
  margin-bottom: 50px;
  @include box-shadow;
  border: none;
  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
    a {
      color: $red;
    }
  }
}

.recipe {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  @include box-shadow;
  .image_wrapper {
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; // to hide the image when grow
  }
  img {
    width: 100%;
    min-height: 200px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  h2 {
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    a {
      color: $red;
    }
  }
}

#recipe_top {
  margin-bottom: 50px;
}

#recipe_info, #ingredients, #directions {
  background: #fff;
  @include box-shadow;
  min-height: 360px;
  border-right: 5px;
  padding:2em 8%;
}
.recipe_image {
  max-width: 100%;
  border-right: 5px;
  @include box-shadow;
}

#recipe_info {
  min-height: 450px;
  h1 {
    font-size: 36px;
    font-weight: normal;
    color: $red;
  }
  .description {
    color: #BABABA;
    font-size: 20px;
  }
  img {
  float:right;
  margin: 0 0 10px 20px;
  max-height: 300px;
  }
}
#ingredients, #directions {
  margin-bottom: 50px;
  ul, ol {
    padding-left: 18px;
    li {
      padding:1em 0;
      border-bottom: 1px solid #EAEAEA;
    }
  }
}

/*//////////////*/
