// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.direction-image{
	max-width: 200px;
	border-color: 2px solid red;
}
.directions h2{
	border-color: 2px solid red;
	color: red;
}
