// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide-view {
 display: none;
 
}
.show-view{
	display: block;
	color: red;

}
table, th, td {
  border: 1px solid;
}